.navbar {
  background-color: #58a9fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

.info_cv {
  background-color: #58a9fa;
  padding: 20px;
  color: white;
  border-radius: 8px;
}

.data_pribadi,
.pendidikan,
.pengalaman,
.skill,
.contact {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.foot {
  background-color: #58a9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
}